%h1 Listing results

%table
  %thead
    %tr
      %th Game
      %th
      %th
      %th

  %tbody
    - @results.each do |result|
      %tr
        %td= result.game
        %td= link_to 'Show', result
        %td= link_to 'Edit', edit_result_path(result)
        %td= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Result', new_result_path
