= simple_form_for(@game) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :team_bat_first
    = f.association :team_field_first

  .form-actions
    = f.button :submit
