%h1 Listing games

%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Team Bat First
      %th Team Field First
      %th
      %th
      %th

  %tbody
    - @games.each do |game|
      %tr
        %td= game.name
        %td= game.team_bat_first.name
        %td= game.team_field_first.name
        %td= link_to 'Show', game
        %td= link_to 'Edit', edit_game_path(game)
        %td= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Game', new_game_path
