%p#notice= notice

%table.table.table-bordered
  %tbody
    %tr
      %th Name
      %td= @game.name
    %tr
      %th Team Bat First
      %td= @game.team_bat_first.name
    %tr
      %th Team Field First
      %td= @game.team_field_first.name

= link_to 'Edit', edit_game_path(@game)
\|
= link_to 'Back', games_path
